@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WHOLLY FOODS GRAIL!</h1>
    <p class="lead">Every new year, one of the most popular new years resolutuions is being more health concious.</p>
    <p class = "lead"> My food diary is a <b>FREE</b> and <b>SIMPLE</b> app designed just for that reason, to encourage you to focus on the quality of food you consume.</p>
    <p class = "lead">Click <a asp-area="Identity" asp-page="/Account/Register"><b>HERE</b></a> to create a free account!</p>
</div>
